html {
    font-size: 62.5%;

}

body {
    background: var(--background) url('../img/bg-desktop.svg') no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
}

header .logo {
    height: 50px;
    margin-left: 10px;
}

.about {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about .info {
    margin: 50px 0;
    padding: 30px;
}

.about .info h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.about .info p {
    font-size: 2rem;
    padding: 20px 30px;
}

.about .info .btn-register {
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #fff;
    color: var(--background);
    font-size: 2rem;
    border: #fff;
    border-radius: 40px;
    padding: 15px 65px;
    transition: 0.3s;
    box-shadow: 0 1px 30px black;
}

.about .info .btn-register:hover {
    background-color: var(--animation);
    color: #fff;
    cursor: pointer;
}

.footer {
    display: flex;
    float: right;
}

.footer .social ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
}

.footer .social i{
    margin-left: 10px;
    padding: 8px;
    width: 48px;
    height: 48px;
    font-size: 3rem;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
}

.footer .social i:hover {
    color: var(--animation);
    border: 1px solid var(--animation);
    cursor: pointer;
}